:root {
    --sidebar-width: 18rem;
    --sidebar-width-phone: 21rem;
    --toolbar-height: 5rem;
}

body {
    overflow: hidden;
}

.workspace {

}

.menu-button {
    position: fixed;
    left: 2rem;
    top: 1.4rem;
    width: 2rem;
    height: 2rem;
    z-index: 1500;
}

.menu-button .class-use {
    fill: var(--primary-color);
    /*stroke: #000;*/

    transition: all 0.2s ease;
}

@media (min-width: 768px) {
    .menu-button {
        display: none;
    }
}

.sidebar {
    position: fixed;
    display: flex !important;
    flex-direction: column;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: var(--sidebar-width-phone);
    width: 100%;

    background-color: #fff;

    z-index: 1000;

    transition: transform 0.3s ease;
}

.sidebar-overlay {
    content: '';

    position: fixed;
    left: 0; right: 0; top: 0; bottom: 0;
    background-color: #00000088;

    z-index: 500;

    transition: opacity 0.3s ease;
}

.sidebar.hidden {
    transform: translate(-100%);
}

.sidebar-overlay.hidden {
    opacity: 0.0;
}

@media (min-width: 768px) {
    .sidebar {
        max-width: var(--sidebar-width);
    }

    .sidebar-overlay {
        display: none;
    }

    .sidebar.hidden {
        transform: none;
    }

    .sidebar-overlay.hidden {
        opacity: 1.0;
    }
}

.sidebar-logo {
    display: flex;
    height: var(--toolbar-height);
}

.sidebar-logo > img {
    margin: auto;
    max-height: 3rem;
    height: 100%;
}

.sidebar-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.sidebar-content ul > li:not(:last-child) {
    margin-bottom: 1.5rem;
}

.sidebar-bottom-list {
    margin-top: auto;
}

/* ------ sidebar link ------ */

.sidebar-link {
    display: flex;
    padding: 1rem 1.5rem 1rem 1.5rem;
    text-decoration: none;
    border-radius: 1rem;

    background-color: #fff;
    transition: background-color 0.2s ease;
}

.sidebar-link span {
    font-weight: 600;
    font-size: var(--default-font-size);
    margin-left: 1rem;

    color: #000;
    transition: color 0.2s ease;
}

.sidebar-link .class-use {
    fill: #000;
    /*stroke: #000;*/

    transition: all 0.2s ease;
}



.sidebar-link.active {
    background-color: var(--primary-color) !important;
}

.sidebar-link.active span {
    color: #fff !important;
}

.sidebar-link.active .class-use {
    fill: #fff !important;
    /*stroke: #fff !important;*/
}



.sidebar-link:hover {
    background-color: #F6F5FE;
}

.sidebar-link:hover span {
    color: var(--primary-color);
}

.sidebar-link:hover .class-use {
    fill: var(--primary-color);
    /*stroke: var(--primary-color);*/
}



.sidebar-link.danger {
    background-color: #fff;
    transition: background-color 0.2s ease;
}

.sidebar-link.danger span {
    color: #000;
    transition: color 0.2s ease;
}

.sidebar-link.danger .class-use {
    fill: #000;
    /*stroke: var(--danger-color);*/
}



.sidebar-link.danger:hover {
    background-color: #FDF5F6;
}

.sidebar-link.danger:hover span {
    color: var(--danger-color);
}

.sidebar-link.danger:hover .class-use {
    fill: var(--danger-color);
    /*stroke: #fff;*/
}



.sidebar-link svg {
    width: 1rem
}

/* ------ sidebar link end ------ */

.main-block {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 0;
}

@media (min-width: 768px) {
    .main-block {
        margin-left: var(--sidebar-width);
    }
}

.toolbar {
    flex-shrink: 0;
    display: flex;
    height: var(--toolbar-height);
    padding: 0 2rem 0 6rem;
    align-items: center;
}

@media (min-width: 768px) {
    .toolbar {
        padding: 0 2rem 0 2rem;
    }
}

.content-section {
    position: relative;
    flex-grow: 1;
    overflow: auto;

    padding: 1rem;

    background-color: var(--bg-color);
    box-shadow: inset 0 0 10px 0 #5030E526;
    border-top-left-radius: 1rem;
}

.ask-arrow {
    margin-left: auto;
    margin-right: 1rem;
    width: 4rem;
}

.avatar-icon {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.2rem solid var(--primary-color);
    border-radius: 2.5rem;

    animation: 2s ease-in-out infinite alternate avatar-floating;
}

@keyframes avatar-floating {
    0% {
        box-shadow: 0 0 0 0 #5030E580;
    }

    100% {
        box-shadow: 0 0 10px 4px #5030E570;
    }
}

.avatar-icon button {
    position: absolute;
    left: 0; top: 0;
    width: 2.5rem;
    height: 2.5rem;
    border: 0.2rem solid #fff;
    border-radius: 2.5rem;

    background-size: cover;
    cursor: help;
}

.cards-layout-placeholder {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    display: flex;
}

.cards-layout-placeholder > div {
    margin: auto;
    padding: 1rem;
    text-align: center;
    color: #5030E5;
    opacity: 0.2;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.cards-layout {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

@media (min-width: 992px) {
    .cards-layout {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .content-section {
        padding: 2rem;
    }
}

@media (min-width: 1400px) {
    .cards-layout {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }

    .content-section {
        padding: 3rem;
    }
}

.card-padding {
    padding: 1rem;
}

.card-anim {
    transform: translateY(0);
    opacity: 1.0;

    transition: all 0.3s ease;
}

.card-anim:nth-child(4n + 1) {
    transition-delay: 0.0s;
}

.card-anim:nth-child(4n + 2) {
    transition-delay: 0.15s;
}

.card-anim:nth-child(4n + 3) {
    transition-delay: 0.3s;
}

.card-anim:nth-child(4n + 4) {
    transition-delay: 0.45s;
}

@media (min-width: 992px) {
    .card-anim:nth-child(2n + 1) {
        transition-delay: 0.0s;
    }

    .card-anim:nth-child(2n + 2) {
        transition-delay: 0.15s;
    }
}

@media (min-width: 1400px) {
    .card-anim:nth-child(3n + 1) {
        transition-delay: 0.0s;
    }

    .card-anim:nth-child(3n + 2) {
        transition-delay: 0.15s;
    }

    .card-anim:nth-child(3n + 3) {
        transition-delay: 0.3s;
    }
}

.card-anim.hide {
    transform: translateY(-2rem);
    opacity: 0.0;
}

.choose-tester-list {
    margin-bottom: 2rem;
}

.choose-tester-list-elem > label {
    display: flex;
    padding: 0.5rem;
    text-align: left;
    gap: 0.6666rem;
    align-items: center;

    cursor: pointer;

    transition: background-color 0.2s ease;
}

.choose-tester-list-elem > label:hover {
    background-color: #F6F5FE;
}

.choose-tester-list-elem {
    border-bottom: 1px solid #ECECEC;
    overflow: hidden;
}

.choose-tester-list-elem:first-child {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.choose-tester-list-elem:last-child {
    border: none;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.choose-tester-list-elem input {
    display: none;
}

.choose-tester-list-elem label > span {
    position: relative;
    display: block;
    margin-left: auto;
    width: 0.8rem;
    height: 0.8rem;
    border: 0.15rem solid var(--primary-color);
    border-radius: 1rem;
}

.choose-tester-list-elem label > span > span {
    position: absolute;
    display: block;
    opacity: 0.0;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 0.15rem;
    border-radius: 1rem;
    background-color: var(--primary-color);

    transition: opacity 0.2s ease;
}

.choose-tester-list-elem label > input:checked + span > span {
    opacity: 1.0;
}

.choose-tester-list-elem img {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;
}

.choose-tester-list-elem div {
    font-weight: 500;
}