{% extends 'authorization/authorization_base.html' %}
{% load static %}

{% block current_form %}
    <div class="content-surface-padding text-center">
        <div class="surface-title mb-16">Вход в аккаунт</div>
        <div class="mb-36">
            <a href="{% url 'register' %}">Нет аккаунта? Зарегистрироваться</a>
        </div>

        <form method="post">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="form-error">
                    <div class="red-line"></div>
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="pb-36"></div>

            {% for field in form.visible_fields %}
                <div class="custom-input mb-36">
                    {{ field }}
                </div>
                {% if field.errors %}
                    <div class="form-error">
                        <div class="red-line"></div>
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if field.help_text %}
                    <div class="field-helper">
                        <div class="primary-line"></div>
                        <div class="field-helper-text">
                            {{ field.help_text }}
                        </div>
                    </div>
                {% endif %}
                <div class="pb-36"></div>
            {% endfor %}

            <button class="form-button">
                Войти в аккаунт
            </button>
        </form>
    </div>
{% endblock %}
